/* 전체 카드 테두리 */
.cover::before {
  content: "";
  position: absolute;
  inset: 14px;   /* 안쪽 여백 */

  border: 1px solid rgba(180,180,180,0.6);

  border-radius: 4px;

  z-index: 5;
  pointer-events: none;
}

/* 전체 커버 */
.cover {
  background-color: var(--light-color);
  border: 1px solid var(--light-grey-color);

  width: 50%;
  display: flex;
  flex-direction: column;

  position: relative;

  @media (max-width: 980px) {
    width: 100%;
    margin: 0.5rem;

    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

    opacity: 0;

    &.lazy-active {
      animation: lazy-fade-in 3s forwards;
    }
  }
}

/* 이미지 영역 */
.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  aspect-ratio: 2 / 3;
}

/* 이미지 */
.image-wrapper img {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 하단 페이드 */
.image-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 45%;

  background: linear-gradient(
    to top,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0.8) 25%,
    rgba(255,255,255,0.4) 55%,
    rgba(255,255,255,0.1) 75%,
    rgba(255,255,255,0) 100%
  );

  z-index: 2;
  pointer-events: none;
}

/* 텍스트 영역 */
.cover-text {
  position: absolute;
  bottom: 48px;

  left: 50%;
  transform: translateX(-50%);

  width: 90%;

  text-align: center;

  z-index: 3;

  color: #111;

  letter-spacing: 0.15em;
}


/* 날짜 */
.cover-text .date {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.25em;
  margin-bottom: 12px;
}


/* 시간 */
.cover-text .time {
  margin-top: 6px;
  font-size: 0.85rem;
  letter-spacing: 2px;
}

/* 장소 */
.cover-text .place {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #555;
}

/* 이름 */
.cover-text .names {
  margin-top: 18px;

  display: flex;
  justify-content: center;
  gap: 36px;

  font-size: 1.15rem;
  font-weight: 500;
}

/* 하단 흰 영역 */
.cover-bottom {
  width: 100%;
  height: 120px;   /* 여기 조절하면 여백 크기 바뀜 */
  background: #fff;
}
